* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #E1E1E1;
}

.row {
  margin: 0;
  padding: 0;
}

input {
  margin: 0;
  padding: 0;
}

.input-filed {
  margin: 0;
  padding: 0;
}


.index {
  background: #E1E1E1;
}